<ion-tabs class="tabs-icon-top tabs-stable tabs-color-active-positive {{hideTabs}} ">
<!-- {{……}}可以防止底部tab出现选中的border-top -->
	<ion-tab title="话题" icon-off="ion-android-list" icon-on="ion-android-list" href="#/tab/topic">
		<ion-nav-view animation="slide-left-right" name="tab-topic"></ion-nav-view>
	</ion-tab>
	<ion-tab title="发现" icon-off="ion-android-compass" icon-on="ion-android-compass" href="#/tab/found">
		<ion-nav-view animation="slide-left-right" name="tab-found"></ion-nav-view>
	</ion-tab>
	<ion-tab title="我的" icon-off="ion-android-person" icon-on="ion-android-person" href="#/tab/persion">
		<ion-nav-view animation="slide-left-right" name="tab-persion"></ion-nav-view>
	</ion-tab>
</ion-tabs>